#root{
    background-color: rgb(95 186 190 / 15%);
    color: #02797e;;
    display: flex;
    flex-direction: row;
}
.budget{
    width: 100%;
    height: 755px;
}
.flex{
display: flex;
    flex-direction: row;
}
.form{
    width: 70%;
  
}
.budgetList{
    width: 40%;
}

.cards{
    text-align: center;
    background-color: #98d8d736;;
    height: 120px;
    width: 60%;
    padding-top: 1rem;
    font-size: 1.2rem;
    text-align: center;
    margin: 1rem auto;
    border-radius: 10px;
}

.heading{
    font-size: 2rem;
}
.cards button{
    margin-left : 1rem;
   cursor: pointer;
}
.main{
    font-size: 4rem;
}

